/* Default button */
.button {
  border-radius: var(--border-radius);
  padding: 0.8rem 1.4rem;
  margin: 0;
  outline: 0;
  border: 0;
  transition: all 0.3s ease;
  cursor: pointer;
  font-size: 1rem;

  --button-ghost: var(--primary-ghost);
  --button-color: var(--primary);

  background: var(--primary);
  color: var(--text-primary);
  box-shadow: var(--shadow-primary);
}

.button:hover,
.button:focus,
.button:focus-visible {
  box-shadow: var(--shadow-primary-hover);
  transform: scale(1.02);
}

.button:active {
  box-shadow: var(--shadow-primary);
  transition: all 0.1s ease;
  transform: scale(1);
}
/* End default button */

/* Highlight button */
.button.highlight {
  --button-ghost: var(--highlight-ghost);
  --button-color: var(--highlight);

  background: var(--highlight);
  box-shadow: var(--shadow-highlight);
  color: var(--text-highlight);
}

.button.highlight:not(.ghost, .outline):hover {
  box-shadow: var(--shadow-highlight-hover);
}

.button.highlight:not(.ghost, .outline):active {
  box-shadow: var(--shadow-highlight);
}
/* End highlight button */

/* Outline button */
.button.outline {
  background: transparent;
  color: var(--text-primary);
  box-shadow: none;
  border: 2px solid var(--button-color);
}

.button.outline:hover {
  background: var(--button-ghost);
}

/* Ghost button */
.button.ghost {
  background: transparent;
  color: var(--text-primary);
  box-shadow: none;
}

.button.ghost:hover {
  background: var(--button-ghost);
}
/* End ghost button */
