/* Default button */
.button {
  border-radius: var(--border-radius);
  padding: 0.6em 1.2rem;
  margin: 0;
  outline: 0;
  border: 0;
  transition: box-shadow 0.3s ease, transform 0.3s ease, color 0.3s ease,
    background 0.3s ease, outline 0.15s ease-out;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: bold;

  --button-ghost: var(--primary-ghost);
  --button-color: var(--primary);

  background: var(--primary);
  color: var(--text-primary);
  box-shadow: var(--shadow-primary);
}

.button:hover,
.button:focus-visible {
  box-shadow: var(--shadow-primary-hover);
  transform: scale(1.02);
}

.button:not(.ghost, .outline):focus-visible {
  outline: 2px solid var(--text-primary);
}

.button:active {
  box-shadow: var(--shadow-primary);
  transition: all 0.1s ease;
  transform: scale(1);
}
/* End default button */

/* Highlight button */
.button.highlight {
  --button-ghost: var(--highlight-ghost);
  --button-color: var(--highlight);

  background: var(--highlight);
  box-shadow: var(--shadow-highlight);
  color: var(--text-highlight);
}

.button.highlight:not(.ghost, .outline):hover {
  box-shadow: var(--shadow-highlight-hover);
}

.button.highlight:not(.ghost, .outline):active {
  box-shadow: var(--shadow-highlight);
}
/* End highlight button */

/* Outline button */
.button.outline {
  background: transparent;
  color: var(--text-primary);
  box-shadow: none;
  border: 2px solid var(--button-color);
  padding: 0.58rem 1.16rem;
}

.button.outline:hover,
.button.outline:focus-visible {
  background: var(--button-ghost);
}

/* Ghost button */
.button.ghost {
  background: transparent;
  color: var(--text-primary);
  box-shadow: none;
}

.button.ghost:hover,
.button.ghost:focus-visible {
  background: var(--button-ghost);
}
/* End ghost button */
