:root {
  --background: #202227; /* rgb(32, 34, 39) */
  --background-light: #2a2f37; /* rgb(42, 47, 55) */

  --primary: #3b83e2; /* rgb(59, 131, 226) */
  --primary-ghost: rgba(59, 131, 226, 0.15);

  --highlight: #ff81a6; /* rgb(255, 129, 166) */
  --highlight-ghost: rgba(255, 129, 166, 0.15);

  --text-primary: #fafafa; /* rgb(250, 250, 250) */
  --text-highlight: var(--background);

  --border-radius: 8px;

  --shadow-primary: 2px 3px 20px -2px rgba(59, 131, 226, 0.7);
  --shadow-primary-hover: 3px 5px 20px 0px rgba(59, 131, 226, 0.8);
  --shadow-highlight: 2px 3px 20px -2px rgba(255, 129, 166, 0.7);
  --shadow-highlight-hover: 3px 5px 20px 0px rgba(255, 129, 166, 0.8);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:focus-visible {
  border-radius: calc(var(--border-radius) - 4px);

  outline: 2px solid var(--text-primary);
}

html,
body {
  min-height: 100%;
  overflow-x: hidden;
  font-size: 16px;
}

a {
  color: var(--primary);
  font-size: 1.2rem;
  text-decoration: none;
}

a:hover,
a:focus-visible {
  text-decoration: underline;
}

body {
  background: var(--background);
  color: var(--text-primary);
  font-family: var(--inter-font);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  position: relative;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.gradient-text {
  background: linear-gradient(90deg, #3b83e2 0%, #ff81a6 100%);
  background-clip: text;
  color: transparent;
}

hr {
  width: 100%;
  border-color: rgb(17, 17, 22);
}
