.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 400px;
}

.info h1 {
  font-size: 8rem;
  font-weight: 800;
  text-align: center;
}

.info > div {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-top: 2rem;
}

.info p {
  text-align: center;
  font-size: 1.4rem;
}

.info span {
  font-weight: bold;
  color: var(--highlight);
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

.features > h1 {
  font-size: 4rem;
}

.rhetorical {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.rhetorical > h1 {
  font-size: 4rem;
  text-align: center;
  font-weight: 800;
}

@media only screen and (max-width: 768px) {
  .hero {
    justify-content: center;
  }

  .info h1 {
    font-size: 6rem;
  }

  .info p {
    font-size: 1.2rem;
  }

  .features > div {
    margin: 0;
  }

  .rhetorical > h1 {
    font-size: 3rem;
  }
  .features {
    gap: 2rem;
  }
}
