.container {
  max-width: 1200px;
  width: 80%;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  background: linear-gradient(90deg, #3b83e2 0%, #ff81a6 100%);
  background-size: 40%;
  background-clip: text;
  color: transparent;
  font-size: 6rem;
}
