.container {
  max-width: 1200px;
  margin: auto;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 400px;
}

@media only screen and (max-width: 768px) {
  .hero {
    justify-content: center;
  }
}

.info h1 {
  font-size: 8rem;
  font-weight: 800;
}

.info > div {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-top: 2rem;
}

.info p {
  text-align: center;
  font-size: 1.4rem;
}

.info span {
  font-weight: bold;
  color: var(--highlight);
}
